/proyecto2-bda/SistemaTramitesNegocio/target/
/proyecto2-bda/SistemaTramitesPersistencia/target/
/proyecto2-bda/SistemaTramitesPresentacion/target/
proyecto2-bda/SistemaTramitesNegocio/src/main/resources/META-INF/persistence.xml
/proyecto2-bda/SistemaTramitesPersistencia/src/main/resources/META-INF
/proyecto2-bda/SistemaTramitesPresentacion/src/main/resources/META-INF
/proyecto2-bda/SistemaTramitesNegocio/src/main/resources/META-INF
